[submodule "schematics"]
	path = schematics
	url = git@github.com:DocSneider/AOWF-schematics.git
[submodule "OpenWRTInvasion"]
	path = OpenWRTInvasion
	url = https://github.com/acecilia/OpenWRTInvasion
